/* ==========================================================================
   #FOOTER
   ========================================================================== */

.cFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}