/* ==========================================================================
   #HEADER
   ========================================================================== */

.cHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3.928571em;
    margin-top: 3.07142857em;
    
    @include animation-fade-in;
}

.cHeader__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    width: 90vw;

    @include bp-medium {
        letter-spacing: 2.6px;
    }

    @include bp-large {
        letter-spacing: 2.6px;
        width: 44.642857em;
    }
}

.cHeader__logo {
    will-change: transition;
    transition: $global-transition;

    &:hover {
        transform: rotate(360deg);
    }
}