/* ==========================================================================
   #MAIN
   ========================================================================== */

.cMain {    
    display: flex;
    flex-direction: column;
    align-items: center;
}