/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1 {
  font: 3.66rem/1.1em $font-lobster;
  
  @include bp-xlarge {
    font-size: 5.14285rem;
  }
}

h2 {
  font: 400 1.285714rem/1em $font-josefin-sans;
  color: $color-black;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}
