/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $color-link;
  text-decoration: none;
  transition: $global-transition;

  &:hover {
    color: $color-hover;
  }
}
