/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.oLayout {
  display: block;

  @include bp-medium {
    display: flex;
  }
}

.oLayout__item {
  flex: 1;
}

.oLayoutGuttered {
  justify-content: space-between;

  > .oLayout__item {
    flex: none;
  }
}

.oLayout__2 {
  > .oLayout__item {
    @include bp-medium {
      width: 49%;
    }
  }
}

.oLayout__3 {
  > .oLayout__item {
    @include bp-medium {
      width: 32%;
    }
  }
}

.oLayout__4 {
  > .oLayout__item {
    @include bp-medium {
      width: 24%;
    }
  }
}
