/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * The list-inline object simply displays a list of items in one line.
 */

.oListInline {
  list-style: none;
  margin-left: 0;
}

.oListInline__item {
  display: inline-block;
}
