///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 24px !default;
$global-transition: all 300ms ease-in-out !default;

/* Fonts
   ========================================================================== */

$font-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;

/* Breakpoints
   ========================================================================== */

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-full: 1600px;

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-very-light-grey: #ccc;
$color-light-grey: #999;
$color-medium-grey: #666;
$color-sunny: #ddbe5c;

// Text
$color-bg: $color-black;
$color-text: $color-white;

// Links
$color-link: $color-text;
$color-hover: $color-sunny;

// Borders
$color-border: $color-very-light-grey;

// Fills
$color-fill: $color-very-light-grey;

// Linear gradient

$global-linear-gradient: linear-gradient(47deg, rgba(255, 255, 255, 0) 0%, rgba(210, 169, 41, 0.23) 40%, rgba(194, 148, 2, 0.47) 81%, rgba(194, 148, 2, 0.58) 100%);